body{
	background-color:#eee;
	min-width:960px;
	height:auto;
	min-height:100%;
}
.class_nav{
	margin-top:20px;
	overflow:hidden;
	margin-bottom:20px;
	margin-top:80px;
}
.selected_nav>li{
	display:inline-block;
	float:left;
	height:20px;
	line-height:20px;
	font-size:0;
}
.selected_nav>li>a{
	color:#666;
	font-size:14px;
	vertical-align:middle;
}
.selected_nav>li>span{
	display:inline-block;
	width:6px;
	height:10px;
	margin:0 10px;
	vertical-align:middle;
	background:url(../images/images_detial_list/other/nav.png) no-repeat;
	background-size:6px 10px;
}
.selected_nav>li a.diff_color{
	color:#999;
}

#fixed{
	display:block;
}
/*课程头部开始*/
.head_box{
	min-height:290px;
	background-color:#fff;
	padding:20px;
	position:relative;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.headBox_left{
	width:450px;
	height:250px;
	margin-right:-450px;
	float:left;
}
.headBox_left a>img{
	width:450px;
	height:250px;
	box-shadow:0px 0px 3px #aaa;
}
.headBox_right{
	margin-left:20px;
	float:right;
	width:695px;
}
.course_name h3{
	font-size:24px;
	line-height:1.2;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
}
.collection{
	height:30px;
	position:relative;
	float:right;
}
.collection>a{
	display:inline-block;
	line-height:28px;
	width:40px;
	height:25px;
	background:url(../images/images_detial_list/other/courseTitle.png) no-repeat 4449px 4449px;
	background-color:#fff;
	border:1px solid;
	border-color:#e1e1e1 #e1e1e1 #c6c6c6;
	font-size:12px;

}
.collect:hover{
	background-position:-53px -59px;
}
.upload:hover{
	background-position:-6px -5px;
}
.upload:hover .upload_way{
	display:block;
}
a.collect{
	background-position:-53px -4px;	
	margin-left:-3px;
}
a.upload{
	background-position:-6px -60px;
	margin-right:-3px;
}
.upload{
	position:relative;
}
.upload_way{
	height:40px;
	line-height:40px;
	background-color:#fff;
	padding-left:14px;
	width:131px;
	position:absolute;
	bottom:-42px;
	font-size:0;
	right:-62px;
	z-index:20;
	border:1px solid #babecb;
	box-shadow:0px 2px 5px #ccc;
	display:none;
}
.upload_way span{
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	border:1px solid #666;
	border-radius:50%;
	text-align:center;
	position: relative;
	margin-right:13px;
}
.up_weixin_icon,.up_weibo_icon,.up_qq_icon{
	display:inline-block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.up_weixin_icon{
	background:url(../images/detial_list_catalog/weixinhei.png) center center no-repeat;
	background-size:contain;
}
.up_weibo_icon{
	background:url(../images/detial_list_catalog/weibohei.png) center center no-repeat;
	background-size:contain;
}
.up_qq_icon{
	background:url(../images/detial_list_catalog/Q.png) center center no-repeat;
	background-size:contain;
}
.angle_1{
	content:'';
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #ccc;
    position:absolute;
    bottom:-10px;
    left:40px;
}
.angle_1:before{
	content:'';
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
    position:absolute;
    bottom:1px;
    left:-8px;
}
.weixin_i{
	position:absolute;
	top:-110px;
	left:-36px;
	width:93px;
	height:93px;
	background-color:#fff;
	border-radius:2px;
	border:1px solid #ccc;
	display:none;
}
.weixin_i>img{
	width:85px;
	height:85px;
	margin-top:4px;
}
.up_weixin:hover{
	color:#fff;
	background-color:#10ae58;
	border-color:#10ae58;
}
.up_weixin:hover .up_weixin_icon{
	background:url(../images/images_detial_list/other/weixin.png) center center no-repeat;
	background-size:contain;
}
.up_weixin:hover .weixin_i{
	display:block;
}
.up_qq:hover{
	color:#fff;
	background-color:#619FD8;
	border-color:#619FD8;
}
.up_qq:hover .up_qq_icon{
	background:url(../images/detial_list_catalog/QQ.png) center center no-repeat;
	background-size:contain;
}
.up_weibo:hover{
	color:#fff;
	background-color:#F7696D;
	border-color:#F7696D;
}
.up_weibo:hover .up_weibo_icon{
	background:url(../images/detial_list_catalog/weibo.png) center center no-repeat;
	background-size:contain;
}
.assess{
	margin-top:15px;
	overflow:hidden;
}
.assess>div{
	display:inline-block;
	float:left;
}
.per_img{
	display:inline-block;
	background:url(../images/images_detial_list/other/ui_sprite.png) no-repeat 4449px 4449px;
	background-position:-55px -350px;
	width:16px;
	height:16px;
	margin-top:1px;
}
.per_num{
	margin-right:20px;
	font-size:12px;
	color:#999;	
}
.course_name{
	height:30px;
	line-height:30px;
}
.whole_star,.half_star{
	display:inline-block;
	width:16px;
	height:16px;
	background:url(../images/images_detial_list/other/ui_sprite.png) no-repeat 4449px 4449px;
	height:20px;
	line-height:19px;
	margin-top:2px;
}
.star>span,.per_num>span{
	float:left;
}
.whole_star{
	background-position:0px -200px;
}
.half_star{
	background-position:-24px -200px;
	margin-right:10px;
}
.lesson_num{
	color:#999;
	font-size:12px;
	line-height:19px;
}
.teacher{
	padding-left:10px;
	width:240px;
	height:18px;
	overflow:hidden;
	line-height:19px;
	color:#666;
	font-size:12px;
}
.num{
	height:20px;
	line-height:20px;
}
.price{
	position:absolute;
	top:95px;
	height:80px;
	margin-bottom:15px;
	line-height:80px;
}
.price>div{
	display:inline-block;
}
.price>span{
	display:inline-block;
	vertical-align:middle;
}
.new_price{
	color:#ff3c00;
	font-size:30px;
	font-family:'微软雅黑';
	line-height:30px;
}
.old_price{
	color:#999;
	font-size:22px;
	font-family:'微软雅黑';
	line-height:30px;
	text-decoration:line-through;
	margin-left:10px;
}
.sell_price{
	margin-left:10px;
	background-color:#fff;
	position:relative;
	border:1px solid #ff8001;
	color:#ff4000;
	margin-top:2px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	padding:2px 5px;
}
.sell_price:before{
	border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
    border-width: 6px;
    border-right-color: #ff8001;
    top:6px;
}
.headBox_bottom{
	position:absolute;
	bottom:20px;
}
.headBox_bottom>a{
	display:inline-block;
}
.attend_imm{
	background-color:#ff8000;
	color:#fff;
	font-size:20px;
	line-height:45px;
	width:160px;
	text-align:center;
	vertical-align:middle;
}
.attend_imm:hover{
	background-color:#ee6600;
}
.join_cart{
	font-size:14px;
	color:#0a9a3d;
	margin-left:20px;
	background:url(../images/images_detial_list/other/ui_sprite.png) no-repeat -25px -222px;
	padding-left:25px;
}
.catalog>ul{
	background-color:#fafafa;
	padding-left: 8px;
	border-top:1px solid #eaeaea;
	height:36px;
}
.box_catclog{
	box-shadow:0px 1px 2px #bbb;
}
.course_box{
	margin-bottom:15px;
}
.catalog>ul>li{
	float:left;
	width:73px;
	height:36px;
	font-family:'微软雅黑';
}
.catalog>ul a{
	display:block;
	line-height:36px;
	text-align:center;
	color:#333;
	font-size:14px;
}
.catalog li.f_right{
	float:right;
}
.catalog a.diff_style{
	color:#fff;
	background:url(../images/images_detial_list/other/coursedetailtabbg.png) no-repeat center center;
}
/*课程头部开始*/


.class_content{
	overflow:hidden;
	padding-bottom:80px;
}
/*课程内容详细介绍开始*/
.con_left{
	width:920px;
	float:left;
	overflow:hidden;
}
.catalog_block{
	background-color:#fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow: 0px 1px 2px #bbb;
	margin-bottom:15px;
}
.catalog_block>h3{
	overflow:hidden;
	border-bottom:1px solid #ddd;
}

.h_left{
	display:inline-block;
	height:20px;
	padding:15px 0 15px 15px;
	font-size:18px;
	line-height:20px;
	max-width:660px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.h_right{
	display:inline-block;
	float:right;
	margin:14px 20px 0 0;
	padding:0 4px;
	height:20px;
	background-color:#ff6000;
	color:#fff;
	line-height:20px;
	text-align:center;
	font-size:12px;
	border-radius:2px;
}
.cata_list{
	padding-bottom:10px;
}
.section{
	height:35px;
	color:#999;
	font-family:'微软雅黑';
	font-size:14px;
	font-family:bold;
	padding:0 20px;
	line-height:35px;
	cursor:default;
	background-color:#fafafa;
	padding:0 20px;
}
.section_num{
	display:inline-block;
	width:62px;
	height:35px;
	text-align:left;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#999;
	font-size:14px;
	font-weight:bold;
}
.section_name{
	float:left;
	text-align:left;
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#999;
	font-size:14px;
	font-weight:bold;
	width:470px;
	padding-left:6px;
}
.part{
	height:36px;
	line-height:36px;
	padding:0 20px;
	transition:background-color 0.15s ease-out;
	-webkit-transition:background-color 0.15s ease-out;
}
.part:hover{
	background-color:#e2fadd;
}
.part:hover .part_right{
	display:none;
}
.part:hover .course_preview{
	display:block;
}
.part_left{
	float:left;
	line-height:36px;
	height:36px;
}
.part_num{
	width:62px;
	color:#999;
	text-align:left;
	font-size:14px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	line-height:36px;
}
.part_name{
	display:inline-block;
	width:450px;
	padding-left:2px;
	color:#333;
	height:36px;
	line-height:36px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:14px;
	cursor:pointer;
}
.part_right{
	float:right;
}
.duration_ico,.duration_listico{
	display:inline-block;
	width:13px;
	height:15px;
	margin:11px 0 0 8px;
	float:right;
}
.duration_ico{
	background:url(../images/detial_list_catalog/listIcons.png) no-repeat -24px -184px;
}
.duration_listico{
	background:url(../images/detial_list_catalog/listIcons.png) no-repeat -24px -232px;
}
.duration{
	display:inline-block;
	width:40px;
	height:36px;
	float:right;
	text-align:right;
	font-size:12px;
	color:#b7b8ba;
}
.course_preview{
	display:none;
}

.perview_txt{
	float:right;
	color:#10ae58;
	line-height:36px;
}
.preview_ico{
	display:inline-block;
	background:url(../images/detial_list_catalog/listIcons.png) no-repeat -24px -112px;
	width:14px;
	height:10px;
	margin:13px 7px 0 0;
	float:right;
}
/*课程内容详细介绍结束*/



/*课程内容右边开始*/
.con_right{
	float:right;
	width:265px;
}
.con_right>div{
	box-shadow: 0px 1px 2px #bbb;
	background-color:#fff;
	font-size:12px;
	text-align:center;
	color:#444;
	margin-bottom:15px;
}

	/*课程内容右边-机构介绍开始*/
	.producer_in{
		position:relative;
		margin-bottom:15px;
	}
	.producer_intro .top{
		padding:14px 20px;
	}
	.page_turning{
		height:11px;
		margin:5px 5px 10px 0;
	}
	.page_turning>span{
		display:inline-block;
		float:right;
		width:8px;
		height:11px;
		background:url(../images/images_detial_list/other/lector_jt.png) no-repeat;
	}
	.page_turning>span.page_right1{
		background-position:-30px -30px;
	}
	.page_left1{
		background-position:0 0;
		margin-right:10px;
	}
	.page_turning>span.page_right2{
		background-position:-30px 0;
	}
	.page_turning>span.page_left2{
		background-position:0 -30px;
		margin-right:10px;
	}
	.producer_intro .bottom{
		text-align:left;
		padding:15px 20px;
		width:225px;
		line-height:20px;
		border-top:1px solid #ddd;
		white-space:pre-wrap;
		word-wrap: break-word;
	}
	/*课程内容右边-机构介绍结束*/


	/*课程内容右边-咨询开始*/
	.consoult>h3{
		height:20px;
		padding:15px 0 15px 15px;
		font-size:18px;
		line-height:19px;
		max-width:660px;
		text-align:left;
		background-color:#fff;
		box-shadow:0 0 1px #bbb;
	}
	.ser_con>h4{
		border:1px solid #21a557;
		height:40px;
		line-height:40px;
		display: block;
		background-color:#fff;
		font-size:18px;
		color:#333;
	}
	.ser_con:hover h4{
		border:1px solid #abdfbf;
	}
	.ser_con:hover .ser_block{
		display:block;
	}
	.ser_con:hover p{
		display:none;
	}
	.ser_con{
		position:relative;
		padding:15px;
	}
	.ser_block{
		padding:0 10px 8px;
		display:none;
		background-color:#fff;
	}
	.ser_block:hover span{
		color:#21a557;
	}
	.ser_block>a{
		display:block;
		color:#333;
		font-size: 14px;
		height:30px;
		line-height:30px;
		margin-top:10px;
		padding:5px 8px;
	}
	.ser_block>a>img{
		width:30px;
		height:30px;
		border-radius:50%;
		margin-right:10px;
		float:left;
	}
	.ser_block>a>span{
		float:left;
		width:155px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		font-size:14px;
		text-align:left;
	}
	.ser_con>p{
		text-align:left;
		margin-top:10px;
	}
	.consoult{
		margin-bottom:15px;
	}
	/*课程内容右边-咨询结束*/


	/*课程内容右边-所属课程开始*/
	.sub_curriculum h3{
		height:20px;
		padding:15px 0 15px 15px;
		font-size:18px;
		line-height:19px;
		max-height:660px;
		text-align:left;
		border-bottom:1px solid #dfdfdf;
	}
	.sub_list{
		font-size:14px;
		padding:15px 20px;
	}
	.sub_list>p{
		text-align:left;
		color:#21a557;
	}
	/*课程内容右边-所属课程结束*/



	/*课程内容右边-评价开始*/
	.evaluate>h3{
		height:20px;
		padding:15px 0 15px 15px;
		font-size:18px;
		line-height:19px;
		max-width:660px;
		text-align:left;
		border-bottom:1px solid #dfdfdf;
	}
	.eva_list_block{
		text-align:left;
	}
	.eva_list{
		margin:0 20px 15px 20px;
	}
	.eva_block>a,.eva_right{
		display:inline-block;
		float:left;
	}
	.eva_block>a>img{
		margin:4px 0;
		width:28px;
		height:28px;
	}
	.eva_block{
		height:36px;
		padding:12px 0;
	}
	.eva_txt{
		clear:both;
	}
	.eva_right{
		margin-left:7px;
		width:190px;
	}
	.user_name{
		cursor:pointer;
	}
	.user_name>a{
		color:#39a030;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.user_name>a:hover{
		text-decoration:underline;
	}
	.user_name .date{
		margin-left:5px;
		color:#999;
		font-size:12px;
		float:right;
	}
	.team_reply{
		padding:10px 10px 2px 10px;
		background-color:#f2f2f2;
	}
	.team{
		color:#10ae58;
		font-size:14px;
	}
	.reply_txt{
		font-size:14px;
		color:#444;
		word-wrap:break-word;
		white-space:pre-line;
	}
	.see_more{
		display:block;
		background-color:#fafafa;
		border-top:1px solid #eaeaea;
		color:#666;
		padding:15px 0;
		cursor:pointer;
		font-size:12px;
		line-height:16px;
	}
	.see_more:hover{
		background-color: #f2f2f2;
		color:#666;
		text-decoration:underline;
	}
	/*课程内容右边-评价结束*/


	/*课程内容右边-169人正在学习开始*/
	.learn_block>h3{
		height:50px;
		line-height:50px;
		border-bottom:1px solid #dfdfdf;
		padding-left:20px;
		text-align:left;
	}
	.learn_num{
		display:inline-block;
		font-size:21px;
		padding:0 3px;
		color:#444;
	}
	.learn_txt{
		display:inline-block;
		width:165px;
		height:22px;
		margin-top:13px;
		background:url(../images/images_detial_list/other/task_sprite.png) no-repeat 0 4px;
	}
	.per_block{
		text-align: left;
		padding:15px 0 15px 15px;
		overflow: hidden;
	}
	.per_block>a{
		display:block;
		float:left;
		width:50px;
		height:72px;
		font-size:12px;
		color:#999;
		margin:0 12px 10px 0;
	}
	.per_block>a:hover img{
		opacity:1;
		filter:alpha(opacity=100);
	}
	.per_block>a:hover .learn_per{
		color:#10AE58;
		text-decoration:underline;
	}
	.per_block>a>img{
		display:block;
		width:49px;
		height:49px;
		opacity:0.8;
		filter:alpha(opacity=80);
		-webkit-transition:all 0.2s ease-in-out 0s;
		transition:all 0.2s ease-in-out 0s;
	}
	.learn_per{
		display:block;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	/*课程内容右边-169人正在学习结束*/

/*课程内容右边结束*/